@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.main {
    background-image: url("https://github.com/CodeWithHarry/Sigma-Web-Dev-Course/blob/main/Video%2053/assets/images/bg.jpg?raw=true");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
}

nav .button {
    border: none;
    color: black;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    background-color: whitesmoke;
    border-radius: 2px;
}

nav .button2 {
    border: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;    
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.sepration{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
    background-color: rgb(46, 44, 44);
    z-index: 20;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

nav img {
    position: relative;
    z-index: 10;
    top: 11px; /* adjust for the height of the .sepration bar */
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(255, 99, 71, 0);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 24px;
    color: white;
    border: none;
    font-weight: bolder;
}
.main input{
    padding: 9px 35px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);

}
.btn-red-sn{
    background-color: red;
    color: white;
} 

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
}


.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}

.faq{
    background: black;
    color: white;
    font-size: 24px;
}

.faq h2{
    margin: 20px;
    padding: 60px;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.faqbox{
    display: flex;
    background-color: gray;
    display: flex;
    padding: 24px;
    max-width: 40vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
}

.faqbox:hover{
    transition: all 0.94s ease-out;
    transform: scale(1.05);
    background-color: 0 2px 4px rgb(133, 133, 133);
    background: red;
}